@model UpsaMe_API.Models.CalendlyEvent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CalendlyEvent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventUri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventUri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InviteeUri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InviteeUri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RawJson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RawJson)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
